body {
  margin: 0;
  font-family: sans-serif;
  direction: rtl;
  background: #f5f5f5;
  text-align: center;
}

/* منو */
nav {
  background: #222;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

/* بخش وسط صفحه */
.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* سکشن‌ها */
.section {
  padding: 80px 20px;
  background: white;
}

.section.dark {
  background: #222;
  color: white;
}

/* عنوان‌ها */
h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
}

/* تیم */
.team {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.member {
  background: #f0f0f0;
  padding: 20px;
  width: 220px;
  border-radius: 12px;
}

/* تماس */
.contact p {
  font-size: 18px;
  margin: 10px 0;
}

/* محصولات */
.products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  background: white;
  border-radius: 12px;
  width: 250px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product h3 {
  font-size: 22px;
}
